.blog-card{
    min-width: 300px!important;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    color: black !important;
    margin: 8px 1px;
  
}

.blogpost-card-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    justify-content: space-around;
    align-items: center;  
    width: 100%;
}

.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-bar{
    margin-bottom: 2%;
    

}
